body {
  display: flex;
  flex-direction: column;
  font-family: roboto, sans-serif;
  margin: 0px;
}


.hero-bar,
.header {
  display: flex;
  background-color: #1F2937;
}

.header {
  padding: 10px 180px 60px 180px;
}

.hero-bar {
  justify-content: space-between;
  padding: 0px 180px 100px 180px;
  gap: 80px;
  align-items: center;
}

.logo {
  margin-right: auto;
  color: #F9FAF8;
  font-size: 24px;
  
}

.header-links {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 24px;
  list-style-type: none;
  align-items: center;
}

.hero-subtext,
.hero-signup-button,
a {
  font-size: 18px;
  color: #f9faf8;
}

.hero-subtext {
  margin: 0px 0px 10px;
}

a {
  text-decoration: none;
}

.hero-main-title {
  font-size: 48px;
  font-weight:bolder;
  color: #f9faf8;
  margin: 0px;
}

.hero-signup-button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 10px 32px;
  border-radius: 10px;
  border: 0px;
}

.hero-bar img {
  width: 480px;
  height: 240px;
}

.card-bar {
  text-align: center;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 50px;
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 80px;
}

.card {
  width: 180px;
}

.card-img {
  border: 3px solid #3882f6;
  border-radius: 20px;
}

.card-text {
  color: #1f2937;
}

.testimonial-bar {
  background-color: #e5e7eb;
  padding: 100px 300px;
}

.testimonial-quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: light;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.testimonial-author {
  text-align: right;
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

.action {
  margin: 100px 180px;
  padding: 50px 100px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  color: #f9faf8;
}
.action-title {
  margin: 0px;
  font-size: 24px;
}

.action-text {
  margin: 0px;
  font-size: 18px;
}

.action-signup-button {
  background-color:#3882f6;
  color: #f9faf8;
  padding:6px 24px;
  border-radius: 5px;
  border-color: #f9faf8;
  border-style: solid;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
  margin: 0px;
  padding: 24px;
}